@tailwind base;
@tailwind components;
@tailwind utilities;

/* 按鈕縮放動畫 */
.btn-animate:active {
    transform: scale(0.95);
    transition: transform 0.1s;
}

/* 自定義漸變背景 */
.bg-gradient-custom {
    background: linear-gradient(-40deg, #ffc709 0%, #1736f5 100%);
}

/* 藍色漸變 */
.bg-gradient-blue {
    @apply bg-gradient-to-r from-dark-blue to-light-blue;
 }

/* 灰色漸變 */
.bg-gradient-grey {
    @apply bg-gradient-to-b from-darkgreyy to-light-grey;
}

/* 金色光澤漸變 */
.bg-gradient-gold {
    @apply bg-gradient-to-r from-metal to-light-grey;
}


/* 過渡效果 */
.transition-custom {
    transition: all 0.3s ease-in-out;
}


/* 定义滚动条的宽度和高度 */
::-webkit-scrollbar {
    width: 8px;  /* 滚动条的宽度 */
    height: 8px;  /* 滚动条的高度（在水平滚动条时使用） */
}

/* 定义滚动条轨道的样式 */
::-webkit-scrollbar-track {
    background: transparent;  /* 透明背景 */
}

/* 定义滚动条滑块的样式 */
::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.7);  /* 使用半透明的灰色 */
    border-radius: 4px;  /* 添加圆角 */
}

/* 定义鼠标悬停时滑块的样式 */
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(80, 80, 80, 0.9);  /* 使用稍深的半透明灰色 */
}



.glowing-border {
    border: 2px solid rgb(255, 197, 199); /* 藍色邊框 */
    box-shadow: 0 0 10px rgb(255, 197, 199), 0 0 10px rgb(255, 197, 199), 0 0 10px rgb(255, 197, 199); /* 藍色發光效果 */
  }


.selected {
    border: 2px solid #631f16;  /* 添加紅色邊框*/
    background-color: #631f16; /*  更改背景顏色為深藍色*/
}

.flex {
    display: flex;
  }
  
  .flex-1 {
    flex: 1;
  }